
    <p-tabView id="closableTabView">
        <p-tabPanel header="Profile" [selected]="true">
           <app-profile [expert]="expert"></app-profile>
        </p-tabPanel>
        <p-tabPanel header="Education" >
           to be constructed
        </p-tabPanel>
        <p-tabPanel header="Career" >
            to be constructed
        </p-tabPanel>
        <p-tabPanel header="Awards/Honors">
            to be constructed
        </p-tabPanel>
        <p-tabPanel header="Mapping" >
            to be constructed
        </p-tabPanel>
    </p-tabView>
